.toDoListWrapper{
  width: 320px;
  height: 500px;
  margin: 0 auto;
  position: relative;
  border: 1px solid black;
  overflow: auto;
}
.toDoHeader{
  /*width:100%;*/
  background: #eee;
  padding: 10px;
}
.toDoHeader h1{
  width:fit-content;
  margin: 0 auto;
  font-size: 18px;
  padding: 7px;
  border: 1px solid #999;
  transition: all .2s;
  background: #888;
}
.toDoHeader h1:hover{
  cursor: pointer;
  background: #aaa;
}