.stopwatch_container{
    width: 96%;
    margin-left: 2%;
    position: relative;
}

.stopwatch_box{
    width: 280px;
    height: 370px;
    overflow: hidden;
    position: absolute;
    left: calc(50% - 140px);
    top: 25px;
}

.stopwatch_box img{
    width: 340px;
    height: auto;
    position: absolute;
    left: -30px;
    top: -10px;
}

.stopwatch_screen{
    width: 177px;
    height: 72px;
    position: absolute;
    left: 50px;
    top: 124px;
    border-radius: 12px;
    background: rgb(170, 152, 126);
    font-size: 30px;
    padding-top: 20px;
    padding-left: 10px;
}

.stopwatch_controls{
    width: 250px;
    height: auto;
    position: absolute;
    bottom: 5px;
    left: 15px;
}

.stopwatch_btn{
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 2px 2px 3px #222;
    display: inline-block;
    margin-right: 4px;
    margin-top: 5px;
}

.stopwatch_start{
    background: rgb(0, 165, 0);
}

.stopwatch_pause{
    background: rgb(200, 223, 0);
}

.stopwatch_lap{
    background: rgb(190, 3, 3);
}

.stopwatch_reset{
    background: rgb(107, 122, 107);
}

.stopwatch_laps{
    width: 300px;
    text-align: center;
    padding-top: 10px;
    margin-top: 5px;
    font-size: 30px;
    position: absolute;
    left: calc(50% - 150px);
    top: 400px;
}
