.activeAppAppWrapper{
  width:100%;
  height: 100%;
}
.createdDiv{
    position: absolute;
    overflow: hidden;
    border: 1px solid #777;
    box-shadow: -1px 13px 53px 1px rgba(0,0,0,0.23);
    /*transition: all .5s;*/
}
.createdDivTopPanel{
    height: 20px;
    width:100%;
    background: #bbb;
    display: flex;
    flex-direction: row;
}
.createdDivTopPanel h1{
  width: fit-content;
  margin: 0 auto;
  padding-top: 2px;
}
.createdDivTopPanel ul{
  position: absolute;
  left:5px;
  /*background: blue;*/
  width: 60px;
  height: 20px;
  display: flex;
  flex-direction: row;
}
.createdDivTopPanel div{
  border-radius: 50%;
  font-size: 14px;
  width: 16px;
  height: 16px;
  margin: 2px 2px;
  text-align: center;
}
.createdDivTopPanel div:hover{
  cursor: default;
  border: 1px solid #ddd;
}
.createdDivTopPanel span{
  position: absolute;
  width: 25px;
  height: 20px;
  right: 0px;
}
.createdDivTopPanel img{
  margin-top: 1px;
  width: 18px;
  height: 18px;
  border: 1px solid #555;
  padding: 1px;
  transition: all .2s;
}
.createdDivTopPanel img:hover{
  cursor: pointer;
  background: #ddd;
  border: 2px solid #555;
}
.createdDivTopPanel:hover{
    cursor: move;
}
.createdDivBottomPanel{
    position: absolute;
    bottom:0px;
    height: 2px;
    width:100%;
    background: #bbb;
}
.createdDivBottomPanel:hover{
    cursor: ns-resize;
}
.createdDivRightPanel{
    position: absolute;
    right:0px;
    height:100%;
    width:2px;
    background: #bbb;
}
.createdDivRightPanel:hover{
    cursor: ew-resize;
}
.createdDivLeftPanel{
    position: absolute;
    left:0px;
    height:100%;
    width:2px;
    background: #bbb;
}
.createdDivLeftPanel:hover{
    cursor: ew-resize;
}