
.home{
    width: 100vw;
    height: 100vh;
    background: lightblue;
    position: relative;
    overflow: hidden;
}

.addAnAppButton{
    background: #999;
    margin: 20px 0 0 20px;
    outline: none;
    width: fit-content;
    padding: 20px;
}
.addAnAppButton:hover{
    cursor: pointer;
}
.availableAppsDropDown{
    width: 240px;
    transition: all .5s;
    background: #777;
    margin-left: 20px;
    border: 1px solid black;
    overflow: hidden;
    outline: none;
}


