.settingsWrapper{
  position: absolute;
  z-index: 10;
  overflow: hidden;
  width: 100%;
  transition: all .5s;
}
.settingsWrapper input:hover{
  cursor: pointer;
}
.settingsWrapper button{
  padding: 5px;
}