.alarmClockWrapper{
  width:100%;
  min-height:100vh;
  position: relative;
}

.alarm_clock{
  width: 300px;
  height: 160px;
  position: absolute;
  left: calc(50% - 150px);
  top: 20px;
  border: 1px solid blue;
}

.alarm_pic{
  width: 300px;
  height: auto;
  border: 1px solid green;
}

.alarm_time{
  width: 179px;
  height: 46px;
  background: rgb(50, 50, 53);
  position: absolute;
  left: 60px;
  top: 70px;
  border-radius: 5px;
  font-size: 40px;
  color: rgb(4, 16, 133);
  text-align: center;
}

.alarm_controls{
  width: 300px;
  height: auto;
  position: absolute;
  left: calc(50% - 150px);
  top: 190px;
  border: 1px solid red;
}

.alarm_military_switch{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}
