.alarmClockWrapper{
  width:100%;
  min-height:100vh;
  position: relative;
}

.alarm_clock{
  width: 300px;
  height: 200px;
  position: absolute;
  left: calc(50% - 150px);
  top: calc(50% - 100px);
  /* padding-left: 50px; */
  border: 1px solid blue;
}

.alarm_pic{
  width: 300px;
  height: auto;
  border: 1px solid green;
}

.alarm_time{
  width: 179px;
  height: 46px;
  background: rgb(50, 50, 53);
  position: absolute;
  left: 60px;
  top: 70px;
  border-radius: 5px;
  font-size: 40px;
  color: rgb(4, 16, 133);
  text-align: center;
}
